@font-face {
    font-family: stand;
    src: url(./stand.ttf);
}

.MainAll{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #2D3142;
    overflow: hidden;
}

.MainAllNoise{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(./noise.gif);
    opacity: 0.1;
}

.Memoji{
    position: absolute;
    bottom: -10px;
    width: 400px;
    height: 400px;
    background: url(./IMG_3682.png);
    background-size: cover;
}

.MainQuote{
    position: absolute;
    width: 100vw;
    text-align: center;
    font-size: 40px;
    font-family: stand;
    color: #BFC0C0;
}

.MainMiddle{
    position: absolute;
    width: 100vw;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainRostyk{
    font-family: stand;
    color: #FFFFFF;
    font-size: 128px;
    text-align: center;
}

.MainFullStackDev{
    margin-top: 200px;
    font-family: stand;
    color: #BFC0C0;
    font-size: 40px;
    text-align: center;
}