@font-face {
    font-family: stand;
    src: url(./stand.ttf);
}

.AboutAll{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #2D3142;
    overflow: hidden;
}

.AboutQuote{
    position: absolute;
    width: 100vw;
    text-align: left;
    font-size: 40px;
    font-family: stand;
    color: #BFC0C0;
}

.Memoji{
    position: absolute;
    bottom: -50px;
    width: 400px;
    height: 400px;
    background: url(./IMG_3683.png);
    background-size: cover;
}

.AboutPortfolio{
    position: absolute;
    width: 100vw;
    font-family: stand;
    color: #FFFFFF;
    font-size: 128px;
    text-align: center;
}

.Info{
    width: 100vw;
    position: absolute;
    text-align: center;
    font-family: stand;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
}

.InfoContainer{
    display: flex;
    position: absolute;
    width: 100vw;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.NoTextDecor{
    color: #BFC0C0;
    text-decoration: none;
}

.MainAllNoise{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(./noise.gif);
    opacity: 0.1;
}